@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.vela_motto{	
	margin-left: 36%;
	margin-bottom:-8%;
	}
span.motto{
	font-weight:bold;
	font-size:2em;
	color:#084f9d;
}
span.techsystem{
	color:#084f9d;
	font-weight:bold;
}
.mainlogo{
	margin-left:20%;
}
.footerLogin{
	margin-top:-8%;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.errorLogin h2{
	color:#ff0000;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #337ab7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
