@import ulr("href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700' rel='stylesheet' type='text/css'>")
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
b.optionalFields{
	color:red;
}
/*devider hr*/
.devider {
    margin-top: 6%;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #92CF9B;
	margin-right: 13%;
	margin-left: 6%;
}
.navigationButton{
		
}
.vela_motto{	
	margin-left: 15%;
	margin-bottom: -10%;
	margin-top: 8%;
}
span.motto{
	font-weight:bold;
	font-size:2em;
	color:#084f9d;
}
span.techsystem{
	color:#084f9d;
	font-weight:bold;
}
/*Pie Chart*/
.pie_content{
	margin-left:5%;
}
#ticket_details_pie{	 

}		
/* End Pie Chart*/

div#container{
	width:100%;
	margin:0 auto;
}
.content{
	margin-left:85px;
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;
 }
/*sidebar nav*/
.sidebar{
	width:250px;
	background-color:#2980b9;
	float:left;	
	position: fixed;
    height: 400px;
     
}
ul#nav{
	padding:9px;
}
ul#nav li{
	list-style: none;
}
ul#nav li a{
	color:#ccc;
	display:block;
	padding:10px;
	font-size:0.8em;
	border-bottom:1px solid #ecf0f1;
	webkit-transition: 0.2s;
	-moz-transition:02.2s;
	-o-transition:0.2s;
	transition:0.2s;	
}
ul#nav li a:hover{
	background-color:#2c3e50;
	color:#fff;
}
ul#nav li a.selected{
	background-color:#2c3e50;
	color:#fff;
}
/*Sidebar nav*/
/*Table*/

table#myDatatable{
	width:100%;
}

